<!-- templates/role_management.html -->
{% extends "base.html" %}

{% block title %}老師傅後台管理系統{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="mb-3">
        <h3 style="margin-top: 20px;">LINE</h3>
    </div>
    <!-- Image Element -->
    <div class="card border-0">
        <div class="card-body text-center">
            <!-- <img src="{{ url_for('static', filename='images/your_image.png') }}" alt="訪問權限設定圖片" class="img-fluid"> -->
        </div>
    </div>
</div>
{% endblock %}